.profileInfo {
  display: grid;
  grid-template-columns: 130px 1fr;
  grid-template-rows: 1fr;
  box-shadow: 3px 3px 3px 3px #bbbcbd;
  border-radius: 10px;
  padding: 15px;
}

.contactsBlock {
  grid-column-start: 1;
  grid-column-end: 3;
}

.profilePhoto {
  display: grid;
  grid-template-rows: 105px 1fr;
}

.info {
  padding: 20px;
}

.userPhoto {
  height: 100px;
  width: 100px;
  border-radius: 5px;
}

.errorForm {
  color: red;
}

.inputFile {
  display: none;
  width: 300px;
}

.editPhotoButton {
  width: 100px;
  height: 20px;
  border-radius: 5px;
  border: none;
  background-color: #0abcb8;
  color: white;
  font-size: 15px;
  text-align: center;
}

.editPhotoButton:hover {
  background-color: #078886;
}

.status {
  display: inline-block;
}

.descriptionText {
  font-size: 20px;
}

.viewFullInfoButton {
  float: right;
  width: 300px;
  height: 20px;
  border-radius: 5px;
  border: none;
  background-color: transparent;
  color: #0abcb8;
  font-size: 15px;
  text-align: center;
}

.viewFullInfoButton:hover {
  background-color: #e3e5e7;
}

.contacts {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.inputStatus {
  height: 10px;
  border-radius: 5px;
  border: 1px solid grey;
  font-size: 15px;
  padding: 5px;
}
