.app-wrapper {
  display: grid;
  margin: 0 auto;
  padding-top: 45px;
  width: 1200px;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
    "n c";
}

.app-wrapper-content {
  grid-area: c;
  margin-top: 10px;
  background: white;
  border-radius: 10px;
  padding: 25px;
}

.pageNotFoundText {
  font-size: 70px;
  text-align: center;
  color: black;
}
